@model DetailViewModel

<link rel="stylesheet" href="/img/assets/css/propertypage.css">

<main>
    <div class="container">

            <div class="row" style="margin-top: 20px;">
                <div class="property-photo col-xs col-sm col-md col-lg-8">
                    <div class="fotorama" data-nav="thumbs">
                        @foreach (var itemm in Model.PropertyDocument)
                        {
                            <a href="#">
                                <img src="/img/@itemm.DocumentUrl" width="144" height="96">
                                </a>
                        }
                        
                    </div>
                    <div class="property-photo property-content-bottom">
                        <p class="property-content-text">
                            @Model.Property.Description
                    </div>
                </div>
                <div class="property-info col-xs col-sm col-md col-lg-4">
                    <div class="property-info-top d-flex align-center">
                        <span style="word-wrap: break-word;">
                            @Model.Property.Name
                        </span>
                        <div class="favicon">
                     
                            <form asp-controller="home" asp-action="addtocart" method="get">
                                <input type="hidden" name="ids" value="@Model.Property.Id"/>
                            <button type="submit" class ="basket-btn" style="border: none !important;">
                                @if(!string.IsNullOrWhiteSpace(ViewBag.color)){
                                    <i class="fa-solid fa-heart" style="color: rgb(128, 17, 17); font-weight:900;"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-heart"></i>
                                }
                                
                            </button>
                            </form>
                        </div>
                    </div>
                <div class="property-info-text">
                    <div class="property-info-item active">
                        <div class="property-info-first">Əmlakın növü:</div>
                        <div class="property-info-second" style="text-align: right;">@Model.Property.PropertyCategory.Name</div>
                    </div>
                        <div class="property-info-item active">
                            <div class="property-info-first">Rayon:</div>
                            <div class="property-info-second">@Model.Property.District.Name</div>
                        </div>
                        @if(Model.Property.Buy==true)
                        {
                                <div class="property-info-item active">
                                    <div class="property-info-first">Elan növü:</div>
                                    <div class="property-info-second">Satış</div>
                                </div>
                        }
                         @if(Model.Property.Rent==true)
                        {
                                <div class="property-info-item active">
                                    <div class="property-info-first">Elan növü:</div>
                                    <div class="property-info-second">Kirayə</div>
                                </div>
                        }
                        <div class="property-info-item active">
                            <div class="property-info-first">Ünvan:</div>
                            <div class="property-info-second">@Model.Property.Address</div>
                        </div>
                        <div class="property-info-item active">
                            <div class="property-info-first">Sahə:</div>
                            <div class="property-info-second">
                                @Model.Property.Area<br>
                            </div>
                        </div>
                        <div class="property-info-item active">
                            <span class="property-info-first">Mərtəbə:</span>
                            <div class="property-info-second">@Model.Property.Floor</div>
                        </div>
                        <div class="property-info-item active">
                            <div class="property-info-first">Otaq sayı:</div>
                            <div class="property-info-second">@Model.Property.RoomCount</div>
                        </div>
                       
                        <div class="price d-flex">
                            <span>@Model.Property.Price</span>
                            <div class="dropdown-price">
                                <select name="price" id="#">
                                    <option value="AZN" selected>AZN</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="RUB">RUB</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputs">
                        <a asp-controller="contact" asp-action="index" class="toSee">Təqdimat üçün yazılmaq</a>
                        <a href="https://wa.me/994555551525" class="toCall">Konsultasiya</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- map -->
            <section>
                <div class="map">
                    @Html.Raw(Model.Property.Location)
                   </div>
            </section>

            <!-- rated -->
            <section class="rated">
                <h3>
                    Bənzər əmlaklar
                </h3>              <div class="row cards">
                @await Component.InvokeAsync("Cart", new{category = Model.Property.PropertyCategoryId, counts = 5})
                </div>
            </section>
            
     
    </div>
</main>