@model PropertyDto
@{
    ViewData["Title"] = "Delete";
}

<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <form asp-action="Delete" class="mt-3 my-5 mx-3">

            <div>
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.RoomCount)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.RoomCount)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Floor)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Floor)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Area)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Area)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PropertyCategoryDtos)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PropertyCategoryDtos)
                    </dd>
                 
                </dl>
            <div class="row">

                <div class="col-md-6 control-label">
                    @Html.ActionLink("Geri", "Index", "Properties", null, new { @class = "btn btn-info btn-lg btn-block" })

                </div>
                <div class="col-md-6 control-label">
                    <input id="frmProductCat" type="submit" value="Sil" class="btn btn-danger btn-lg btn-block" tabindex="16" />

                </div>

            </div>

        </form>

    </div>
</div>
