@model List<Property>

@if (string.IsNullOrWhiteSpace(ViewBag.Product))
{
    @foreach (var item in Model)
    {
            <div class="card col-xs col-sm col-md-3 col-lg-3">
                <div class="wrapper">
                    <div class="fotorama">
                    @foreach (var itemm in item.PropertyDocuments)
                    {
                                <img class="card-img-top" src="/img/@itemm.DocumentUrl" alt="">
                    }

                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">
                    @item.Address
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.Price AZN</li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Property" asp-action="index" asp-route-id="@item.Id"  class="card-link">Ətraflı</a>
                </div>
            </div>
    }
}
else
{
    <div class="col-md-12">
        <h3 style="color: white; text-align: center;">@ViewBag.Product</h3>
    </div>
}


